<div class="content">
  <img src="../../assets/YachtClub_v3.png">
  <div class="card">
    <div id="exportrecapitulatif">
      <h2>Météo Windguru</h2>
      <hr>
      <h5 class="mt-5">Données temps réel - YCSF (station 944)</h5>
      <div id="wglive_944_1681658679676" class="mt-5"></div>

      <h5 class="mt-5 mb-4">Webcam</h5>
      <div id="webcam">
        <img class="rounded mx-auto d-block" src="http://193.251.90.145:8080/axis-cgi/mjpg/video.cgi?resolution=640x480&dummy=1681714079136" alt="Live Webcam Feed">
      </div>
    </div>
  </div>
</div>
