<div class="content">
  <img src="../../assets/YachtClub_v3.png">
  <div class="card">
    <div>
      <h2>Sélection des stages</h2>
  
      <div id="selectionStage" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <div class="stageItem col mb-4" *ngFor="let stage of stages">
          <div class="col mb-4">
            <div class="card-body">
              <h4 class="card-title">{{stage.nom}}</h4>
              <p class="card-text">{{stage.prix}} €</p>
              <div class="d-flex align-items-center buttonsQte">
                <button type="button" class="btn btn-primary" (click)="ajouterStageDemande(stage)">Ajouter un stage</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <button type="button" class="btn btn-warning" (click)="reset()">Réinitialiser</button>
  </div>
  
  <div class="commande">
    <h2>Element stageDemande</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prix public</th>
          <th>Prix remisé</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stageDemande of stagesDemandesArr">
          <td>{{ stageDemande.nom }}</td>
          <td>{{ stageDemande.prixPublic }} €</td>
          <td>{{ stageDemande.prixRemise }} €</td>
        </tr>
      </tbody>
    </table>
  </div>
  

  <div class="card">
    <div id="exportrecapitulatif">
      <h2>Exporter récapitulatif</h2>
      <hr>
      <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-primary">Télécharger (bientot)</button>
        <button type="button" class="btn btn-primary">Imprimer (bientot)</button>
      </div>
      <div class="d-flex justify-content-center">
        <form class="form-inline d-flex justify-content-evenly">
          <div class="form-group mb-2">
            <label for="staticEmail2" class="sr-only">Ex. bernard@gmail.com</label>
            <input class="form-control" type="text" placeholder="Entrer email client:">
          </div>
          <button type="submit" class="btn btn-success mb-2">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
</div>  